.container{
width:600px;
margin:0 auto;
align-self:center;
padding:15vh 0vh;
}
.logo-and-intro{
display:flex;
gap:20px;
width:400px;
margin:0 auto;
justify-items: center;
}
.logo{

}
#logo img{
    height:64px;
    width:48px;
}
.intro{

}
.signup-form{
display:flex;
flex-direction:column;
gap:20px;
}
.halves-form-els{
display:flex;
gap:20px;
}
.halves-form-els input{
    flex:1;
}
#location-btn{
   background-color:#3461e2;
   width:50%;
}
body{
    background-color:#d6dff9;
    display:flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
}
input, button{
border-radius:5px;
padding:5px;
outline:none;
}